#container1{
    max-height: 235px;
    display: flex;
    overflow-x : auto;
    overflow-y : hidden;
    min-width: 110px;
    line-height: 110px;
    text-align: center;
    /* margin-left: 10px; */
}
h2{
    margin : 15px 10px 5px;
}


* {
  scrollbar-width : thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 9px;
}

*::-webkit-scrollbar-track {
  background: #dbdbdb;

}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  /* border: 0.1px solid #dbdbdb; */
}